<section class="in">
	<h4>Select Criteria</h4>
<div class="FirstSearch" id="parent_div_1">
<div>
	<label>Role<sup>*</sup></label>
</div>
  		<input type="text" placeholder="search.." name="search" class="inputtext">
  		<button type="submit" class="searchbtn">search</button>
</div>
<span>
<div class="SecondSearch" id="#parent_div_2">
<div>
     <label>Search by keyword</label>
</div>
  		<input type="text" placeholder="search.." name="search" class="inputtext">
  		<button type="submit" class="searchbtn">search</button>

</div>
</span>

</section> 
 <div class="newin">
      <br><br>
     <!-- Tab links -->
      <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'CardView')">CardView</button>
            <button class="tablinks" onclick="openCity(event, 'ListView')">ListView</button>
      </div>

      <!-- Tab content -->
      <div id="CardView" class="tabcontent1">
            <h3>all data</h3>
            <p>data in cardview</p>
      </div>

      <div id="ListView" class="tabcontent2">
            <h3>all details</h3>
            <p>data in listview</p>
      </div>
 </div>
 