<section class="in">
	<h4>Select Criteria</h4>
<div class="FirstSearch" id="parent_div_1">
<div>
	<label>Role<sup>*</sup></label>
</div>
  		<input type="text" placeholder="search.." name="search" class="inputtext">
  		<button type="submit" class="searchbtn">search</button>
</div>
<span>
<div class="SecondSearch" id="#parent_div_2">
<div>
     <label>Date</label>
</div>
  		<input type="date" placeholder="search.." name="search" class="inputtext">
  		<button type="submit" class="searchbtn">search</button>
</div>
</span>
</section> 