<section class="in">
  <h4 style="float:left">Select Criteria</h4>
  <button type="button" style="background-color:black;color:#f1f1f1;width: 100px;height: 25px;float: right;"><b>+addstaff</b></button>
<br><hr>

  <div class="FirstSearch" id="parent_div_1">
<div>
	<label>Role<sup>*</sup></label>
</div>
  		<input type="text" placeholder="search.." name="search" class="inputtext">
</div>
<span>
<div class="SecondSearch" id="#parent_div_2">
<div>
     <label>Month</label>
</div>
<form action="/#" method="get">
  <input list="Month" name="Months">
  <datalist id="Month">
    <option value="January">
    <option value="February">
    <option value="March">
    <option value="April">
    <option value="May">
  </datalist>
</form> 
<span>
<div class="ThirdSearch" id="#parent_div_3">
  <div>
       <label>Year</label>
  </div>
  <form action="/#" method="get">
    <input list="Year" name="Years">
    <datalist id="Year">
      <option value="2022">
      <option value="2021">
      <option value="2020">
      <option value="2019">
      <option value="2018">
    </datalist>
  </form> 
  
</div>
</span>
<br><br>
<hr>
        <button type="submit" class="searchbtn">search</button>
  
  </div>
</span>
</section> 
      <br>
    <button class="button btn1" type="button"><b>search</b></button>