<!-- The sidebar -->
<div class="sidebar">
  <a routerLink="/StaffDirectory" routerLinkActive="active" class="active">Staff Directory</a>
  <a routerLink="/StaffAttendance" routerLinkActive="active">Staff Attendance</a>
  <a routerLink="/Payroll" routerLinkActive="active">Payroll</a>
  <a routerLink="/Department" routerLinkActive="active">Department</a>
  <a routerLink="/DisabledStaff" routerLinkActive="active">Disabled Staff</a>
</div>
 
<!-- Page content -->
<div class="content">
  <router-outlet></router-outlet>
  </div>