<!-- The sidebar -->
<div class="sidebar">
  <a href="StaffDirectory.html"class="active">Staff Directory</a>
  <a href="StaffAttendance.html">Staff Attendance</a>
  <a href="Payroll.html">Payroll</a>
  <a href="ApproveLeaveRequest.html">Approve Leave Request</a>
  <a  href="ApplyLeave.html">Apply Leave</a>
  <a href="LeaveType.html">Leave Type</a>
  <a href="TeachersRating.html">Teachers Rating</a>
  <a href="Department.html">Department</a>
  <a href="Designation.html">Designation</a>
  <a href="DisabledStaff.html">Disabled Staff</a>
</div>
 
<!-- Page content -->
<div class="content">